body {
    margin: 100px auto;
    font-family: Ozone;
    font-size: 45px;
    text-align: center;
    background: #002242;
    color: #e4e4e4;
    height: 600px;
}

@font-face {
    font-family: Ozone;
    src: url("Ozone.ttf");
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.team {
    width: 210px;
}

#home-score, #guest-score {
    background: rgb(0, 9, 32);
    border: 4px solid #e4e4e4;
    border-radius: 4px;
    margin: 30px 0px;
    font-size: 120px;
    color: red;
    padding: 20px 30px;
}

button {
    background: rgb(0, 9, 32);
    border: 3px solid #e4e4e4;
    border-radius: 4px;
    color: red;
    font-family: Ozone;
    font-size: 35px;
}

#new-game {
    margin-top: 30px;
}


